{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<div class="password__page page-width-narrow">
  <div class="password__message">
    <h1>
      <a href="/">

        {% if settings.logo_svg %}

          {{ settings.logo_svg }}

        {% elsif settings.logo != blank %}

          <img src="{{ settings.logo | img_url }}" alt="{{ shop.name }}">

        {% else %}

        {{ shop.name }}

        {% endif %}
      </a>
    </h1>

    <h2 class="h4">{{ 'general.password_page.opening_soon' | t }}</h2>

    {% unless shop.password_message == blank %}
      <p>
        {{ shop.password_message }}
      </p>
    {% endunless %}
  </div>

  {% form 'customer', class: 'form' %}

    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <div class="form-success">
        {{ 'general.password_page.signup_form_success' | t }}
      </div>
    {% else %}
      <div class="form__title">
        {{ 'general.password_page.signup_form_heading' | t }}
      </div>

      <input type="hidden" name="contact[tags]" value="prospect, password page">

      <div class="grid">
        <div class="form__group grid__item small--one-whole medium-up--two-thirds">
          <label for="email" class="label-hidden">
            {{ 'general.password_page.signup_form_email_label' | t }}
          </label>
          <input type="email"
            name="contact[email]"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
        </div>

        <div class="form__group grid__item small--one-whole medium-up--one-third">
          <button type="submit" name="commit" class="btn btn--primary">
            {{ 'general.password_page.signup_form_submit' | t }}
          </button>
        </div>
      </div>
    {% endif %}
  {% endform %}



  <div id="Login">

    {% form 'storefront_password', class: 'form' %}
      <div class="form__title">
        {{ 'general.password_page.login_form_heading' | t }}
      </div>

      {{ form.errors | default_errors }}

      <div class="grid">
        <div class="form__group grid__item small--one-whole medium-up--two-thirds">
          <label for="password" class="label-hidden">
            {{ 'general.password_page.login_form_password_label' | t }}
          </label>
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        </div>

        <div class="grid__item small--one-whole medium-up--one-third">
          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
    {% endform %}
  </div>
</div>
