<div class="fade"></div>

<div class="cart cart--drawer">
	<div class="cart__header">
    <button type="button" class="cart__close">{% include 'icon-close' %}</button>
		<div class="cart__title">{{ 'cart.general.title' | t }}</div>
		<div class="cart__count">{{ cart.item_count }}</div>
	</div>

	<div class="cart__content"></div>

	<div class="cart__footer">
		<div class="cart__total">
			<span class="cart__subtotal-label money">
				{{ 'cart.general.subtotal' | t }}
			</span>
			<span class="cart__subtotal money">
				{{ cart.total_price | money }}
			</span>
		</div>

		<a href="/checkout" role="button" class="btn btn--primary">{{ 'cart.general.checkout' | t }}</a>
	</div>
</div>
