{% paginate customer.addresses by 5 %}

  <div class="customer__addresses grid grid--uniform">

  {% for address in customer.addresses %}

    <div class="customer__address grid__item medium-up--one-half">

      <div class="customer__address-address">
        {% if address == customer.default_address %}
          <span class="label label--primary">{{ 'customer.addresses.default' | t }}</span>
        {% endif %}

        {{ address | format_address }}
      </div>

      <div class="customer__address-actions">
        <button type="button" class="btn address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
          {{ 'customer.addresses.delete' | t }}
        </button>

        <a href="#EditAddress_{{ address.id }}" class="btn btn--primary">
          {{ 'customer.addresses.edit' | t }}
        </a>
      </div>

      <div class="remodal" data-remodal-id="EditAddress_{{ address.id }}">
        {% form 'customer_address', address, class: 'form' %}

        <div class="form__title">{{ 'customer.addresses.edit_address' | t }}</div>

        <div class="grid">
          <div class="form__group grid__item medium-up--one-half">
            <label for="AddressFirstName_{{ form.id }}" class="label-hidden">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text"
                   name="address[first_name]"
                   id="AddressFirstName_{{ form.id }}"
                   value="{{ form.first_name }}"
                   placeholder="{{ 'customer.addresses.first_name' | t }}"
                   autocapitalize="words">
          </div>

          <div class="form__group grid__item medium-up--one-half">
            <label for="AddressLastName_{{ form.id }}" class="label-hidden">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text"
                   name="address[last_name]"
                   id="AddressLastName_{{ form.id }}"
                   value="{{ form.last_name }}"
                   placeholder="{{ 'customer.addresses.last_name' | t }}"
                   autocapitalize="words">
          </div>
        </div>

        <div class="form__group">
          <label for="AddressCompany_{{ form.id }}" class="label-hidden">
            {{ 'customer.addresses.company' | t }}
          </label>
          <input type="text"
                 name="address[company]"
                 id="AddressCompany_{{ form.id }}"
                 value="{{ form.company }}"
                 placeholder="{{ 'customer.addresses.company' | t }}"
                 autocapitalize="words">
        </div>

        <div class="form__group">
          <label for="AddressAddress1_{{ form.id }}" class="label-hidden">
            {{ 'customer.addresses.address1' | t }}
          </label>
          <input type="text"
                 name="address[address1]"
                 id="AddressAddress1_{{ form.id }}"
                 value="{{ form.address1 }}"
                 placeholder="{{ 'customer.addresses.address1' | t }}"
                 autocapitalize="words">
        </div>

        <div class="form__group">
          <label for="AddressAddress2_{{ form.id }}" class="label-hidden">
            {{ 'customer.addresses.address2' | t }}
          </label>
          <input type="text"
                 name="address[address2]"
                 id="AddressAddress2_{{ form.id }}"
                 value="{{ form.address2 }}"
                 placeholder="{{ 'customer.addresses.address2' | t }}"
                 autocapitalize="words">
        </div>

        <div class="form__group">
          <label for="AddressCity_{{ form.id }}" class="label-hidden">
            {{ 'customer.addresses.city' | t }}
          </label>
          <input type="text"
                 name="address[city]"
                 id="AddressCity_{{ form.id }}"
                 value="{{ form.city }}"
                 placeholder="{{ 'customer.addresses.city' | t }}"
                 autocapitalize="words">
        </div>

        <div class="grid">
          <div class="form__group grid__item medium-up--one-half">
            <label for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select
              name="address[country]"
              id="AddressCountry_{{ form.id }}"
              class="address-country-option"
              data-form-id="{{ form.id }}"
              data-default="{{ form.country }}">
              {{ country_option_tags }}
            </select>
          </div>

          <div class="form__group grid__item medium-up--one-half">
            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
              <label for="AddressProvince_{{ form.id }}">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select
                name="address[province]"
                id="AddressProvince_{{ form.id }}"
                data-default="{{ form.province }}">
              </select>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="form__group grid__item medium-up--one-half">
            <label for="AddressZip_{{ form.id }}">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                   name="address[zip]"
                   id="AddressZip_{{ form.id }}"
                   value="{{ form.zip }}"
                   autocapitalize="characters">
          </div>

          <div class="form__group grid__item medium-up--one-half">
            <label for="AddressPhone_{{ form.id }}">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel"
                   name="address[phone]"
                   id="AddressPhone_{{ form.id }}"
                   value="{{ form.phone }}"
                   pattern="[0-9-]*">
          </div>
        </div>

        <div class="form__group">
          <label for="address_default_address_{{ form.id }}">
            {{ form.set_as_default_checkbox }}
            {{ 'customer.addresses.set_default' | t }}
          </label>
        </div>

        <div class="grid">
          <div class="form__group grid__item medium-up--one-half">
            <button data-remodal-action="cancel" class="btn remodal-cancel">
              {{ 'customer.addresses.cancel' | t }}
            </button>
          </div>

          <div class="form__group grid__item medium-up--one-half">
            <input type="submit" class="btn btn--primary" value="{{ 'customer.addresses.update' | t }}">
          </div>
        </div>

        {% endform %}

      </div>
    </div>
  {% endfor %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
