<div id="AddressNewForm" class="hides">
  {% form 'customer_address', customer.new_address, class: 'form' %}

  <div class="form__title">
    {{ 'customer.addresses.add_new' | t }}
  </div>

  <div class="grid">
    <div class="form__group grid__item medium-up--one-half">
      <label for="AddressFirstNameNew" class="label-hidden">
        {{ 'customer.addresses.first_name' | t }}
      </label>
      <input type="text"
             name="address[first_name]"
             id="AddressFirstNameNew"
             value="{{ form.first_name }}"
             placeholder="{{ 'customer.addresses.first_name' | t }}"
             autocapitalize="words">
    </div>

    <div class="form__group grid__item medium-up--one-half">
      <label for="AddressLastNameNew" class="label-hidden">
        {{ 'customer.addresses.last_name' | t }}
      </label>
      <input type="text"
             name="address[last_name]"
             id="AddressLastNameNew"
             value="{{ form.last_name }}"
             placeholder="{{ 'customer.addresses.last_name' | t }}"
             autocapitalize="words">
    </div>
  </div>

  <div class="form__group">
    <label for="AddressCompanyNew" class="label-hidden">
      {{ 'customer.addresses.company' | t }}
    </label>
    <input type="text"
           name="address[company]"
           id="AddressCompanyNew"
           value="{{ form.company }}"
           placeholder="{{ 'customer.addresses.company' | t }}"
           autocapitalize="words">
  </div>

  <div class="form__group">
    <label for="AddressAddress1New" class="label-hidden">
      {{ 'customer.addresses.address1' | t }}
    </label>
    <input type="text"
           name="address[address1]"
           id="AddressAddress1New"
           value="{{ form.address1 }}"
           placeholder="{{ 'customer.addresses.address1' | t }}"
           autocapitalize="words">
  </div>

  <div class="form__group">
    <label for="AddressAddress2New" class="label-hidden">
      {{ 'customer.addresses.address2' | t }}
    </label>
    <input type="text"
           name="address[address2]"
           id="AddressAddress2New"
           value="{{ form.address2 }}"
           placeholder="{{ 'customer.addresses.address2' | t }}"
           autocapitalize="words">
  </div>

  <div class="form__group">
    <label for="AddressCityNew" class="label-hidden">
      {{ 'customer.addresses.city' | t }}
    </label>
    <input type="text"
           name="address[city]"
           id="AddressCityNew"
           value="{{ form.city }}"
           placeholder="{{ 'customer.addresses.city' | t }}"
           autocapitalize="words">
  </div>

  <div class="grid">
    <div class="form__group grid__item medium-up--one-half">
      <label for="AddressCountryNew" class="label-hidden">
        {{ 'customer.addresses.country' | t }}
      </label>
      <select
        name="address[country]"
        id="AddressCountryNew"
        data-default="{{ form.country }}">
        {{ country_option_tags }}
      </select>
    </div>

    <div id="AddressProvinceContainerNew" style="display: none">
      <div class="form__group grid__item medium-up--one-half">
        <label for="AddressProvinceNew" class="label-hidden">
          {{ 'customer.addresses.province' | t }}
        </label>
        <select
          name="address[province]"
          id="AddressProvinceNew"
          data-default="{{ form.province }}">
        </select>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="form__group grid__item medium-up--one-half">
      <label for="AddressZipNew" class="label-hidden">
        {{ 'customer.addresses.zip' | t }}
      </label>
      <input type="text"
             name="address[zip]"
             id="AddressZipNew"
             value="{{ form.zip }}"
             placeholder="{{ 'customer.addresses.zip' | t }}"
             autocapitalize="characters">
    </div>

    <div class="form__group grid__item medium-up--one-half">
      <label for="AddressPhoneNew" class="label-hidden">
        {{ 'customer.addresses.phone' | t }}
      </label>
      <input type="tel"
             name="address[phone]"
             id="AddressPhoneNew"
             value="{{ form.phone }}"
             placeholder="{{ 'customer.addresses.phone' | t }}"
             pattern="[0-9-]*">
    </div>
  </div>

  <div class="form__group">
    <label for="address_default_address_new">
      {{ form.set_as_default_checkbox }}
      {{ 'customer.addresses.set_default' | t }}
    </label>
  </div>

  <div class="grid">
    <div class="form__group grid__item medium-up--one-half">
      <button data-remodal-action="cancel" class="btn remodal-cancel">
        {{ 'customer.addresses.cancel' | t }}
      </button>
    </div>
    <div class="form__group grid__item medium-up--one-half">
      <input type="submit" class="btn btn--primary" value="{{ 'customer.addresses.add' | t }}">
    </div>
  </div>

  {% endform %}

</div>
