{% assign menu = linklists[section.settings.main_linklist] %}

<nav role="navigation" class="grid__item large-up--text-center">

  {% comment %} level 1 {% endcomment %}
  <ul class="nav nav--level-one">

    {% for link in menu.links %}

      {% if link.levels > 0 %}

        <li class="nav__item nav__item--has-child{% if link.active %} nav__item--active{% endif %}">
          <a href="{{ link.url }}">
            {{ link.title }}
            {%- include 'icon-chevron-down' -%}
          </a>

          {% comment %}level 2{% endcomment %}

          {% assign dropdown_classes = 'nav__dropdown' %}
          {% for block in section.blocks %}

            {% assign link_title = link.title | strip | downcase %}
            {% assign block_label = block.settings.label | strip | downcase %}

            {%- if link_title == block_label -%}
              {%- if block.settings.image != blank -%}
                {% assign dropdown_classes = 'nav__dropdown nav__dropdown--image-right' %}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

          <div class="{{ dropdown_classes }}">
            <div class="page-width">

              <ul class="nav nav--level-two">
                {% for sub_link in link.links %}
                  {% if sub_link.levels > 0 %}

                    <li class="nav__item nav__item--has-child{% if sub_link.active %} nav__item--active{% endif %}{% if sub_link.links.size %} nav__item--has-toggle{% endif %}">

                      {%- if section.settings.show_column_titles -%}
                        <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                      {%- endif -%}

                      {% comment %}level 3{% endcomment %}
                      <ul class="nav nav--level-three">
                        {% for sub_sub_link in sub_link.links %}
                          <li class="nav__item{% if sub_sub_link.active %} nav__item--active{% endif %}">
                            <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>

                      {% comment %}end level 3{% endcomment %}
                    </li>

                  {% else %}

                    <li class="nav__item {% if sub_link.active %} nav__item--active{% endif %}">
                      <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                    </li>

                  {% endif %}
                {% endfor %}
              </ul>

            {% for block in section.blocks %}

              {% assign link_title = link.title | strip | downcase %}
              {% assign block_label = block.settings.label | strip | downcase %}

              {%- if link_title == block_label -%}
                {%- if block.settings.image != blank -%}

                  <div class="nav__dropdown-image">

                    {%- if block.settings.image_link != blank -%}

                      <a href="{{ block.settings.image_link }}">
                        {{ block.settings.image | img_url: 'original' | img_tag }}
                      </a>

                    {%- else -%}

                      {{ block.settings.image | img_url: 'original' | img_tag }}

                    {%- endif -%}
                  </div>

                {%- endif -%}
              {%- endif -%}
            {% endfor %}

            {% comment %}end of page-width{% endcomment %}
            </div>
          {% comment %}end of container{% endcomment %}
          </div>
          {% comment %}end level 2{% endcomment %}
        </li>

        {% else %}

          <li class="nav__item{% if link.active %} nav__item--active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>

        {% endif %}
      {% endfor %}
  </ul>
  {% comment %}end level 1{% endcomment %}
</nav>
