<div class="pagination">
  <ul>

    {%- if paginate.previous.is_link -%}
      <li>
        <a href="{{ paginate.previous.url | replace: '&view=filter', '' }}" class="pagination__item">
        {% include 'icon-chevron-left' %}
        </a>
      </li>
    {%- else -%}
      <li>
        <span class="pagination__item">
          {% include 'icon-chevron-left' %}
        </span>
      </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <li>
          <a href="{{ part.url | replace: '&view=filter', '' }}" class="pagination__item">
            {{ part.title }}
          </a>
        </li>
      {%- else -%}
        <li>
          <span class="pagination__item{% if paginate.current_page %} pagination__item--current{% endif %}">
            {{ part.title }}
          </span>
        </li>
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next.is_link -%}
      <li>
        <a href="{{ paginate.next.url | replace: '&view=filter', '' }}" class="pagination__item">
        {% include 'icon-chevron-right' %}
        </a>
      </li>
    {%- else -%}
      <li>
        <span class="pagination__item">
          {% include 'icon-chevron-right' %}
        </span>
      </li>
    {%- endif -%}

  </ul>
</div>
