<div class="product-card{% if type %} product-card--{{ type }}{% endif %}">

  {% if product.featured_image != blank %}
  <div class="product-card__image">
    <a href="{{ product.url | within: collection }}">
      {%- include 'banner-image', src: product.featured_image.src, alt: product.featured_image.alt -%}
    </a>
  </div>
  {% endif %}

  <div class="product-card__title">
    <a href="{{ product.url | within: collection }}">
      {{ product.title }}
    </a>
  </div>

  <div class="product-card__info">

    {% if product.compare_at_price > product.price %}
      {% unless product.price_varies %}
        <span class="label">{{ 'products.product.on_sale' | t }}</span>
      {% endunless %}
    {% endif %}

    {% unless product.available %}
      <span class="label">{{ 'products.product.sold_out' | t }}</span>
    {% endunless %}
  </div>

  <div class="product-card__price">
    {% if product.compare_at_price > product.price %}

      {% if product.price_varies %}
        {%- assign sale_price = product.price | money -%}
        {{ 'products.product.from_text_html' | t: price: sale_price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}

    {% else %}

      {% if product.price_varies %}
        {%- assign price = product.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}

    {% endif %}
  </div>

</div>
