{%- if section.settings.banner_enable -%}
  <div class="banner__inner{% if section.settings.contain_width %} page-width{% endif %}">
    <div class="banner__content rte">
      {{ section.settings.text }}
    </div>
  </div>

  <style scoped>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background_color != blank -%}
      background-color: {{ section.settings.background_color }};
    {%- endif -%}
    {%- if section.settings.text_color != blank -%}
      color: {{ section.settings.text_color }};
    {%- endif -%}
    text-align: {{ section.settings.text_align }};
  }
  </style>
{%- endif -%}

{% schema %}
{
	"name": "Banner",
  "class": "banner",
	"settings": [
    {
      "type": "checkbox",
      "id": "banner_enable",
      "label": "Enable banner",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "contain_width",
      "label": "Contain width",
      "default": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Add a banner message to notify customers.</p>"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centre"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
	],
	"presets": [
    {
  		"name": "Banner",
  		"category": "Banner"
  	}
  ]
}
{% endschema %}
