<footer class="footer">
  <div class="footer__inner page-width">

    <ul class="nav nav--level-one">
      {%- comment %}
      	Navigation list
      {% endcomment -%}
      {%- assign menu = linklists[section.settings.footer_linklist] -%}
      {%- for link in menu.links -%}
        <li class="nav__item{%- if link.active -%} nav__item--active{%- endif -%}">
          <a href="{{ link.url }}">{{ link.title }}</a>

          {%- if link.levels > 0 -%}
            <ul class="nav nav--level-two">
              {%- for sub_link in link.links -%}
                <li class="nav__item{%- if link.active -%} nav__item--active{%- endif -%}">
                  <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- comment %}
      	Social icon list
      {% endcomment -%}
      {%- if section.settings.show_social_icons -%}
        {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
        <li class="nav__item footer__social-icons">
          <span>{{ 'layout.footer.social_header' | t }}</span>

          <ul class="nav nav--level-two">
            {%- for social in social_accounts -%}
              {%- assign social_handle = social | handleize -%}
              {%- capture social_link -%}social_{{ social_handle }}_link{%- endcapture -%}
              {%- capture social_icon -%}icon-{{ social_handle }}{%- endcapture -%}

              {%- if settings[social_link] != blank -%}
                <li class="nav__item">
                  <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                    {%- include social_icon -%}
                    <span class="icon-fallback-text">{{ social }}</span>
                  </a>
                </li>
              {%- endif -%}

            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}
    </ul>

    {%- comment %}
    	Copyright text
    {% endcomment -%}
    <div class="footer__copyright small">
      {{ section.settings.copyright_text }}
    </div>

    {%- comment %}
    	Payment icons
    {% endcomment -%}
    {%- if section.settings.show_payment_icons -%}
      <div class="footer__payment-icons">

          {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          <ul class="payment-icons">
            {%- for type in payment_icons_available -%}
                <li>
                  {%- assign icon_name = type | prepend: 'icon-' -%}
                  {%- include icon_name -%}
                  <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
                </li>
            {%- endfor -%}
          </ul>

      </div>
    {%- endif -%}
  </div>
</footer>

<style scoped>
.footer__copyright {
  text-align: {{ section.settings.copyright_text_align }};
}
/*
Inserting variables here as a comment so shopify adds them to the linked settings
$color-footer-bg: {{ settings.color_footer_bg }};
$color-footer-fg: {{ settings.color_footer_fg }};
$color-footer-links: {{ settings.color_footer_links }};
$color-footer-copy: {{ settings.color_footer_copy }};
$footer-padding: {{ settings.footer_padding }}rem;
$footer-list-spacing: {{ settings.footer_list_spacing }}rem;
 */
</style>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer",
        "info": "Each top level menu will behave as the column header"
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "richtext",
        "id": "copyright_text",
        "label": "Copyright text",
        "default": "<p>&copy; Your Company 2017, <a href=\"/terms-conditions\">Terms and Conditions</a></p>"
      },
      {
        "type": "select",
        "id": "copyright_text_align",
        "label": "Text align",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centre"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ]
  }

{% endschema %}
