{% comment %}
- remember to pass the data-section-type!!!
- remember to pass the {{ block.shopify_attributes }}
- pass settings as json string through dataset so we can access them in js
{% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="hero-slider" data-section-settings='{{ section.settings | json }}'>

	{% comment %} contains the page-width {% endcomment %}
	{% if section.settings.contain_width %}<div class="page-width">{% endif %}

	<div class="slider slider--hero">

		{% for block in section.blocks %}

			<div class="slider__slide slider__slide-{{ forloop.index }}" {{ block.shopify_attributes }}>

        {%- include 'banner-picture', src_mobile: block.settings.background_image, src_desktop: block.settings.background_image_desktop -%}

			  <div class="slider__slide-inner">
			    <div class="slider__content-container {{ block.settings.content_position }} {{ block.settings.content_position_desktop }}">
			      <div class="slider__content" style="color:{{ block.settings.color }};max-width:{{ block.settings.content_width }}px">

              {% if block.settings.title != blank %}
                <h2 class="{{ block.settings.title_size }} slider__heading">{{ block.settings.title }}</h2>
              {% endif %}

              {% if block.settings.subtitle != blank %}
                <h3 class="{{ block.settings.subtitle_size }} slider__heading">{{ block.settings.subtitle }}</h3>
              {% endif %}

			        {% if block.settings.body != blank %}
                <div class="slider__body rte">{{ block.settings.body }}</div>
              {% endif %}

			        {% if block.settings.label != blank and block.settings.link != blank %}
			          <a href="{{ block.settings.link }}" class="slider__button btn btn--{{ block.settings.btn_style }}" role="button">
                  <span>{{ block.settings.label }}</span>
                </a>
			        {% endif %}
			      </div>
			    </div>
			  </div>

			</div>

      {% comment %}
        capture styles from the block so we can print them out later
      {% endcomment %}
      {%- capture block_styles -%}
        {{ block_styles }}

        #shopify-section-{{ section.id }} .slider__slide-{{ forloop.index }} .slider__content {
          text-align: {{ block.settings.text_align }};
        }

        @media only screen and (min-width: {{ settings.grid_medium }}px) {

          {%- if block.settings.content_width_desktop != blank -%}
          #shopify-section-{{ section.id }} .slider__content {
            max-width: {{ block.settings.content_width_desktop }}px;
          }
          {%- endif -%}

          {%- if block.settings.text_align_desktop != blank -%}
          #shopify-section-{{ section.id }} .slider__slide-{{ forloop.index }} .slider__content {
            text-align: {{ block.settings.text_align_desktop }};
          }
          {%- endif -%}
        }
      {%- endcapture -%}

		{% endfor %}
	</div>

	{% comment %} end of page-width {% endcomment %}
	{% if section.settings.contain_width %}</div>{% endif %}
</div>

{% comment %} using scoped style for future compliance {% endcomment %}
<style scoped>
{{ block_styles }}

#shopify-section-{{ section.id }} button {
	border-color: {{ section.settings.arrow_color }};
}

#shopify-section-{{ section.id }} .slick-dots li button:before {
	 color: {{ section.settings.dot_color }};
}
</style>

{% schema %}
{
	"name": "Hero slider",
  "class": "section section--hero-slider",
	"settings": [
		{
			"type": "header",
			"content": "Container settings"
		},
		{
			"type": "checkbox",
			"id": "contain_width",
			"label": "Contain width",
			"default": false
		},
		{
			"type": "header",
			"content": "Slider settings"
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "Autoplay",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "arrows",
			"label": "Show arrows",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "dots",
			"label": "Show dots",
			"default":  true
		},
		{
			"type": "checkbox",
			"id": "fade",
			"label": "Fade transition",
			"default": true,
      "info": "Only works when slides to show is set to 1"
		},
		{
			"type": "range",
			"id": "slidesToShow",
			"label": "Slides to show",
			"min": 1,
			"max": 10,
			"step": 1,
			"default": 1
		},
		{
			"type": "range",
			"id": "slidesToScroll",
			"label": "Slides to scroll",
			"min": 1,
			"max": 10,
			"step": 1,
			"default": 1
		},
		{
			"type": "range",
			"id": "slide_speed",
			"label": "Speed",
			"min": 100,
			"max": 4000,
			"step": 100,
			"default": 2400,
			"unit": "ms"
		},
		{
			"type": "header",
			"content": "Style settings"
		},
		{
			"type": "color",
			"id": "arrow_color",
			"label": "Arrow colour",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "dot_color",
			"label": "Dot colour",
			"default": "#ffffff"
		}
	],
	"blocks": [
		{
			"name": "Slide",
			"type": "slide",
			"settings": [
				{
					"type": "header",
					"content": "Mobile settings"
				},
				{
					"type": "paragraph",
					"content": "These are the settings for the mobile version of the hero slider. Desktop settings can be found further down"
				},
				{
					"type": "image_picker",
					"id": "background_image",
					"label": "Mobile Background image"
				},
				{
					"type": "header",
					"content": "Slider content"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
        {
    			"type": "select",
    			"id": "title_size",
    			"label": "Title size",
    			"default": "h2",
    			"options": [
    				{
    					"value": "feature-heading",
    					"label": "Feature heading"
    				},
    				{
    					"value": "h1",
    					"label": "Heading 1"
    				},
    				{
    					"value": "h2",
    					"label": "Heading 2"
    				},
    				{
    					"value": "h3",
    					"label": "Heading 3"
    				},
    				{
    					"value": "h4",
    					"label": "Heading 4"
    				},
    				{
    					"value": "h5",
    					"label": "Heading 5"
    				},
    				{
    					"value": "h6",
    					"label": "Heading 6"
    				}
    			]
    		},
				{
					"type": "text",
					"id": "subtitle",
					"label": "Subtitle"
				},
        {
    			"type": "select",
    			"id": "subtitle_size",
    			"label": "Subtitle size",
    			"default": "h6",
    			"options": [
    				{
    					"value": "feature-heading",
    					"label": "Feature heading"
    				},
    				{
    					"value": "h1",
    					"label": "Heading 1"
    				},
    				{
    					"value": "h2",
    					"label": "Heading 2"
    				},
    				{
    					"value": "h3",
    					"label": "Heading 3"
    				},
    				{
    					"value": "h4",
    					"label": "Heading 4"
    				},
    				{
    					"value": "h5",
    					"label": "Heading 5"
    				},
    				{
    					"value": "h6",
    					"label": "Heading 6"
    				}
    			]
    		},
				{
					"type": "richtext",
					"id": "body",
					"label": "Body"
				},
				{
					"type": "text",
					"id": "label",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "btn_style",
					"label": "Button style",
					"default": "primary",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						},
						{
							"value": "default",
							"label": "Default"
						}
					]
				},
				{
					"type": "header",
					"content": "Style settings"
				},
    		{
    			"type": "text",
    			"id": "content_width",
    			"label": "Content width (px)",
          "default": "400"
    		},
				{
					"type": "select",
					"id": "content_position",
					"label": "Content position",
					"default": "justify-center align-center",
					"options": [
						{
							"value": "justify-start align-start",
							"label": "Left Top"
						},
						{
							"value": "justify-center align-start",
							"label": "Centre Top"
						},
						{
							"value": "justify-end align-start",
							"label": "Right Top"
						},
            {
							"value": "justify-start align-center",
							"label": "Left Centre"
						},
						{
							"value": "justify-center align-center",
							"label": "Centre Centre"
						},
						{
							"value": "justify-end align-center",
							"label": "Right Centre"
						},
            {
							"value": "justify-start align-end",
							"label": "Left Bottom"
						},
						{
							"value": "justify-center align-end",
							"label": "Centre Bottom"
						},
						{
							"value": "justify-end align-end",
							"label": "Right Bottom"
						}
					]
				},
				{
					"type": "select",
					"id": "text_align",
					"label": "Text align",
					"default": "center",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Centre"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				},
				{
					"type": "color",
					"id": "color",
					"label": "Text colour",
					"default": "#ffffff"
				},
        {
          "type": "header",
          "content": "Desktop settings - optional"
        },
				{
					"type": "image_picker",
					"id": "background_image_desktop",
					"label": "Desktop Background image",
					"info": "Optional"
				},
    		{
    			"type": "text",
    			"id": "content_width_desktop",
    			"label": "Content width - desktop",
          "default": "400"
    		},
				{
					"type": "select",
					"id": "content_position_desktop",
					"label": "Content position - desktop",
					"default": "desktop-justify-center desktop-align-center",
					"options": [
						{
							"value": "desktop-justify-start desktop-align-start",
							"label": "Left Top"
						},
						{
							"value": "desktop-justify-center desktop-align-start",
							"label": "Centre Top"
						},
						{
							"value": "desktop-justify-end desktop-align-start",
							"label": "Right Top"
						},
            {
							"value": "desktop-justify-start desktop-align-center",
							"label": "Left Centre"
						},
						{
							"value": "desktop-justify-center desktop-align-center",
							"label": "Centre Centre"
						},
						{
							"value": "desktop-justify-end desktop-align-center",
							"label": "Right Centre"
						},
            {
							"value": "desktop-justify-start desktop-align-end",
							"label": "Left Bottom"
						},
						{
							"value": "desktop-justify-center desktop-align-end",
							"label": "Centre Bottom"
						},
						{
							"value": "desktop-justify-end desktop-align-end",
							"label": "Right Bottom"
						}
					]
				},
				{
					"type": "select",
					"id": "text_align_desktop",
					"label": "Text align",
					"default": "center",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Centre"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				}
			]
		}
	],
	"presets": [
		{
			"name": "Hero slider",
			"category": "Slider"
		}
	]
}
{% endschema %}
